version: 2
jobs:
  build:
    docker:
      - image: node:16-alpine
    working_directory: ~/repo
    
    environment:
      CI: false

    steps:
      - checkout
      - run: apk add --no-cache --update --virtual .build-deps git make
      # Download and cache dependencies
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn install --immutable
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - .yarn/cache
            - .yarn/unplugged
      # run tests!
      - run: yarn lint

      - run: yarn build